<h1>Contact me</h1>

<hr>

<div class="row">

<p><a> Phone number</a></p>

<p><%= number_to_phone "801-317-7472" %></p>


<p><a>Email me at bluesnakeuser@gmail.com</a></p>

  <div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2143.661325211968!2d-
  111.86104127943108!3d40.550537813546505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
  1s0x0%3A0x5e8aa3175a681850!2sAlta+High+School!5e0!3m2!1sen!2sus!4v1502206159423" width=
  "450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>